/* CSS files add styling rules to your content */
/* import nunito sans font (substitute for Avenir) */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
.App {
  text-align: center;
}
 */

/* 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
 */

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 */

/* 
.CodeEditor-link {
  color: #61dafb;
}
 */

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */


a {
   display: block;
}

body {
  margin: 30px 50px;
}

body, select, input {
  font-family: 'Nunito Sans', sans-serif;
}

option span {
  margin-right: 50px;
}

select {
  border-color: black;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  text-indent: 50px;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
}

.body-no-margin {
   margin: 0;
   height: 2000px;
}

.code-button {
	border: 1px solid black;
	border-radius: 2px;
	cursor: pointer;
	float: right;
	font-weight: 600;
	font-size: 10px;
	margin: 0.25em 0.5em 0em 1em;
	padding: 2px 10px;
}

.code-button:focus {
	outline: 0;
}

.content-container {
   height: 100%;
}

.header {
   height: 5em;
}

.header > div {
   font-size: 1.5em;
}

.iframe-container {
   height: 1000px;
}

.interaction-container {
	float: right;
	width: 54%;
	height: 20%;
}

.interaction-footer-small {
	color: #808080;
	font-size: 10px;
	padding: 10px;
}

.layout {
   height: 1000px;
}

.question-author-container, .question-name-container {
	display: inline;
}

.question-content-container {
   font-size: 12px;
   margin-left: 2em;
   margin-bottom: 1em;
   background-color: white;
}

.question-difficulty-container {
	float: center;
}

.question-header-container {
   margin-left: 2em;
   margin-bottom: 1em;
   background-color: white;
}

.question-header-container > div {
	margin-bottom: 1em;
}

.question-hrline {
	border: 0.3px solid #C3C3C3;
}

.question-info-container {
   background-color: white;
   float: left;
   width: 37.5%;
   height: 1000px;
}

.question-small {
	color: #999999;
	font-size: 10px;
}

.question-title-container > div {
   width: auto;
}

.reaction-footer-item {
	color: #999999;
	cursor: pointer;
	display: inline;
	float: right;
	font-size: 10px;
	margin-left: 20px;
}

.select-bar-container {
   width: 100%;
   margin-bottom: 0em;
}

.switch-tab {
	border: none;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 10px 10px 0% 0%;
	border-top: 1px solid black;
	background-color: white;
	cursor: pointer;
	font-size: 11px;
	height: 30px;
	width: 100px;
}

.switch-tab:focus {
	outline: 0;
}

.switch-tab-container {
   width: 100%;
   margin-bottom: 0em;
   padding-right: 0em;
   height: 30px
}

.switch-tab-item-container {
   float: right;
   margin-left: 0.5em;
}

#difficulty {
	color: #8BC63F;
}

#code-editor-container {
	border: 1px solid #B3B3B3;
}

#dropdown-menu {
	position: relative;
}

#hambuger-icon {
  position: absolute;
  width: 24px;
  left: 10px;
  height: 24px;
  top: 8px;
}

#huskycodeicon {
	position: relative;
	top: -10px;
}

#interaction-footer {
	border: solid #B3B3B3;
	border-width: 0px 1px 1px;
	height: 25px;
	width: 100%-2px;
}

#nav-title {
   font-size: 29px;
   font-weight: 1000;
   text-shadow:0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
   height: 100%;
   margin: 0;
}

#question-author {
	float: left;
	margin: auto;
	margin-right: 15px;
}

#question-completion {
	background-color: #8BC63F;
	border-radius: 10px;
	color: white;
	font-size: 10px;
	margin: 10px 0px 0px 75%;
	padding: 5px 0px 5px 20px;
}

#question-difficulty {
	display: inline;
	margin-left: 2em;
	width: 20%;
}

#question-name {
	font-size: 24px;
	font-weight: 900;
	float: left;
	text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
	width: auto;
}

#select-text-indent {
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
	font-size: 12px;
}

#select-text-indent:focus {
	outline: 0;
}