nav, nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul {
  list-style-type: none;
  margin-left: auto;
}

nav ul li:not(:last-child) {
  margin-right: 35px;
}

nav ul.navbar-no-vertical-margin li:not(:last-child) {
  margin-right: 20px;
}

.navbar-container p {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

.navbar-container img {
   height: 100%;
   width: 100%;
}

.navbar-container .navbar-item-container img {
   height: 100%;
   width: 2.5em;
}

.navbar-item-container {
	cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 2.5em;
    font-size: 20px;
}

.navbar-left-container {
   float: left;
   width: 30%;
}

.navbar-left-container .navbar-item-container {
   float: left;
   margin-right: 5%;
}

.navbar-no-vertical-margin {
  float: right;
  margin: 0px 0px 0px 70%;
}

.navbar-right-container {
   float: right;
   width: 60%;
}

.navbar-right-container .navbar-item-container {
   float: right;
   margin-left: 5%;
}