html body {
	background-color: #4b2e83;
	color: white;
}
.container {
	background-color: #85754d;
	width: 50%;
	padding: 10px 0px 10px 10px;
	border: 3px solid black;
}
.container-no-border {
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
.centered {
	text-align: center;
}
.banner {
	height: 15.625em;
}
.col-lg-12 {
	background-color: white;
	text-align: center;
}
