/* CSS files add styling rules to your content */
/* import nunito sans font (substitute for Avenir) */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
  margin: 30px 50px;
}

a {
   display: block;
}

.layout {
   height: 1000px;
}

.header {
   height: 5em;
}

.header > div {
   font-size: 1.5em;
}

.navbar-right-container {
   float: right;
   width: 60%;
}

.navbar-left-container {
   float: left;
   width: 30%;
}

.navbar-item-container {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   height: 2.5em;
   font-size: 14px;
}

.navbar-container .navbar-item-container img {
	height: 100%;
	width: 2.5em;
}

.navbar-left-container .navbar-item-container{
   float: left;
   margin-right: 10%;
}

.navbar-right-container .navbar-item-container{
   float: right;
   margin-left: 5%;
}

.navbar-container a {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

.navbar-container img {
   height: 100%;
   width: 100%;
}

.body-no-margin {
	margin: 0;
}

.content-container {
   height: 600px;
}


.question-info-container {
   border-right: 1px solid black;
   background-color: white;
   float: left;
   width: 37.5%;
   height: 1000px;
}

.question-header-container {
   margin-left: 2em;
   margin-bottom: 1em;
   background-color: white;
}

.question-header-container > div {
	margin-bottom: 1em;
}

.question-title-container > div {
   width: auto;
}

.select-bar-container {
   width: 100%;
   margin-bottom: 0em;
}

.interaction-container {
   float: right;
   width: 54%;
   height: 30em;
}

body, select {
  font-family: 'Nunito Sans', sans-serif;
}

option span {
  margin-right: 50px;
}

select {
  border-color: black;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select.select-text-indent {
  text-indent: 25px;
}

#nav-title {
   font-size: 29px;
   font-weight: 1000;
   text-shadow:0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
   height: 100%;
   margin: 0;
}

#question-name {
   font-size: 24px;
   font-weight: 900;
   text-shadow:0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
}

#question-completion {
	margin: 10px 0px 0px 75%;
}

#window {
  border: 1px solid black; /* temporary */
  float: left;
  height: 30em;
  width: 100%;
}

nav, nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul {
  list-style-type: none;
  margin-left: auto;
}

nav ul li:not(:last-child) {
  margin-right: 35px;
}

nav ul.navbar-no-vertical-margin li:not(:last-child) {
  margin-right: 20px;
}

.navbar-no-vertical-margin {
  float: right;
  margin: 0px 0px 0px 70%;
}

.styled-btn {
  border: none;
  color: black;
  cursor: pointer;
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
}

.styled-btn:focus {
  outline: 0;
}